<div class="row">
    <div class="col-lg-6">
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-body>
                <div style="display: block">
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets1"
                        [labels]="chartLabels"
                        [colors]="chartColors1"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
              </mdb-card-body>
              
            </div>
          </mdb-card>
    </div>
    <div class="col-lg-6">
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-body>
                <div style="display: block">
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets2"
                        [labels]="chartLabels"
                        [colors]="chartColors2"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
              </mdb-card-body>
              
            </div>
          </mdb-card>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------ -->
<div class="row">
    <div class="col-lg-6">
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-body>
                <div style="display: block">
                    <canvas mdbChart
                        [chartType]="chartTypel"
                        [datasets]="chartDatasetsl1"
                        [labels]="chartLabelsl"
                        [colors]="chartColorsl1"
                        [options]="chartOptionsl"
                        [legend]="true"
                        (chartHover)="chartHoveredl($event)"
                        (chartClick)="chartClickedl($event)">
                    </canvas>
                  </div>
              </mdb-card-body>
            </div>
          </mdb-card>
    </div>
    <div class="col-lg-6">
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-body>
                <div style="display: block">
                    <canvas mdbChart
                        [chartType]="chartTypel"
                        [datasets]="chartDatasetsl2"
                        [labels]="chartLabelsl"
                        [colors]="chartColorsl2"
                        [options]="chartOptionsl"
                        [legend]="true"
                        (chartHover)="chartHoveredl($event)"
                        (chartClick)="chartClickedl($event)">
                    </canvas>
                  </div>
              </mdb-card-body>
              
            </div>
          </mdb-card>
    </div>
</div>




<!-- --------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-lg-6">
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-body>
                <div style="display: block">
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets3"
                        [labels]="chartLabels"
                        [colors]="chartColors1"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
              </mdb-card-body>
             
            </div>
          </mdb-card>
    </div>
    <div class="col-lg-6">
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-body>
                <div style="display: block">
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets4"
                        [labels]="chartLabels"
                        [colors]="chartColors2"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
              </mdb-card-body>
              
            </div>
          </mdb-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-body>
                <div style="display: block">
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets5"
                        [labels]="chartLabels"
                        [colors]="chartColors1"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
              </mdb-card-body>
              
            </div>
          </mdb-card>
    </div>
    <div class="col-lg-6">
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-body>
                <div style="display: block">
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets6"
                        [labels]="chartLabels"
                        [colors]="chartColors2"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
              </mdb-card-body>
             
            </div>
          </mdb-card>
    </div>
</div>
