<div class="container" style="margin-top: 15px;margin-bottom: 0px; margin-left: 80px;">
  <a style="font-family:cursive;font-weight:bolder;">
    PreIPO | ESOP | Investment Banking | Pitchdeck | Startups Fund Raising | Insurance
  </a>
</div>
<div class="container">
    <nav class="navbar navbar-expand-sm  navbar-light">

        <!-- Links -->
        <ul class="navbar-nav nav-justified">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/overview">Overview</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/keyratios"><p>KeyRatios</p></a>
          </li>
          <!-- <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/peers">Peers</a>
          </li> -->
        </ul>
      
      </nav>
      <hr>

      <router-outlet></router-outlet>
      
</div>




