<div class="row" >
  <div class="col-lg-4 col-sm-12">
    <div class="card hoverable sticky-top" style="height:610px;width:400px; margin-top: 10px;" >
      <div class="card-body color-block sunny-morning-gradient z-depth-2 py-4 text-white" style="margin-right: 15px;">
         <h2>Reliance Retail Limited</h2>
         <h6>RELIANCE</h6>
          <hr>
          <p style="text-align: center;">Investment Checklist</p>   
          <div class="list-group-item" style="background-color: transparent;border: none;max-height: 62px;">
            <div class="row">
              <i class="material-icons">play_arrow</i><h5>Management</h5>
            </div>
            <p style="padding-left: 20px;font-size: 15px;color: tomato;">Trustworthy</p>
          </div>
          <div class="list-group-item" style="background-color: transparent;border: none;max-height: 62px;">
            <div class="row">
              <i class="material-icons">play_arrow</i><h5>Accounting Practice</h5>
            </div>
            <p style="padding-left: 20px;font-size: 15px;color: tomato;">Clean</p>
          </div>
          <div class="list-group-item" style="background-color: transparent;border: none;max-height: 62px;">
            <div class="row">
              <i class="material-icons">play_arrow</i><h5>Operational Efficiency</h5>
            </div>
            <p style="padding-left: 20px;font-size: 15px;color: tomato;">Good</p>
          </div>
          <div class="list-group-item" style="background-color: transparent;border: none;max-height: 62px;">
            <div class="row">
              <i class="material-icons">play_arrow</i><h5>Solvency</h5>
            </div>
            <p style="padding-left: 20px;font-size: 15px;color: tomato;">Good</p>
          </div>
          <div class="list-group-item" style="background-color: transparent;border: none;max-height: 62px;">
            <div class="row">
              <i class="material-icons">play_arrow</i><h5>Growth</h5>
            </div>
            <p style="padding-left: 20px;font-size: 15px;color: tomato;">Outstanding</p>
          </div>
          <div class="list-group-item" style="background-color: transparent;border: none;max-height: 62px;">
            <div class="row">
              <i class="material-icons">play_arrow</i><h5>Valuation</h5>
            </div>
            <p style="padding-left: 20px;font-size: 15px;color: tomato;">Fairly Valued</p>
          </div>
          <div class="list-group-item" style="background-color: transparent;border: none;max-height: 62px;">
            <div class="row">
              <i class="material-icons">play_arrow</i><h5>Recommendation</h5>
            </div>
            <p style="padding-left: 20px;font-size: 15px;color: tomato;">Strong Buy</p>
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-sm-12">
      <app-main></app-main>
  </div>
</div>



